{{!< default}}
<section class="hero">
	<span class="hero-bg hero-bg--overlay"></span>
	<span class="hero-bg hero-bg--image" style="background-image: url({{{cl "url" "jm-wedding/hero-bg" transformation="background-full"}}});"></span>

	<div class="contentWrap">
		<div class="branding">
			<h1 class="branding-logo">Josh &amp; Mere</h1>
			<p class="branding-tagline">are getting married!</p>
		</div>

		<span class="hero-divider"></span>

		<div class="hero-details">
			<p class="hero-details-date">10.08.17</p>
			<p class="hero-details-location">At Drumore Estate</p>
		</div>

		<p class="hero-comingSoon">More information coming soon!</p>
	</div>
</section>
