.branding {
    &-logo {
        @include imgReplace("v1490919538/jm-wedding/logo.svg", 23rem 6.9rem);
        margin: 0 auto;
    }

    &-tagline {
        font-size: $size-small;
        font-weight: $weight-bold;
        letter-spacing: .3em;
    }
}
