* { box-sizing: border-box; }

body {
    background: $gray-light;

    &.showMenu {
        overflow: hidden;
        width: 100vw;
        height: 100vh;

        @include breakpoint($bp-large) {
            overflow: auto;
            width: auto;
            height: auto;
        }
    }
}

.contentWrap {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.u-hide {
    $_variants: (
        Small: $screen-small-only,
        MediumDown: $screen-medium-max,
        Medium: $screen-medium-only,
        MediumUp: $screen-medium,
        Large: $screen-large,
    );

    display: none !important;

    @each $name, $bp in $_variants {
        &#{$name} { @include breakpoint($bp) { display: none !important; } }
    }
}
