@mixin position($position: absolute, $location: auto auto auto auto) {
    position: $position;
    top: nth($location, 1);
    right: nth($location, 2);
    bottom: nth($location, 3);
    left: nth($location, 4);
}

%imgReplace {
    font-size: 0;
    text-indent: -100%;
    background-repeat: no-repeat;
    background-position: center;
}

@mixin imgReplace($image, $size) {
    @extend %imgReplace;
    width: nth($size, 1);
    height: nth($size, 2);
    background-image: cl-url($image);
    background-size: contain;
}

@mixin transitionProps($props, $speed: $speed-regular, $ease: ease-out) {
    $transitions: ();

    @each $prop in $props {
        $transitions: $transitions, $prop $speed $ease;
    }

    transition: $transitions;
}

@mixin zIndex($layer) {
    $_layers: (
        nav: 10,
        nav-control: 11,
    );

    @if map-has-key($_layers, $layer) {
        z-index: map-get($_layers, $layer);
    } @else {
        @warn 'No z-index found for layer "#{$layer}".';
        z-index: 0;
    }
}

@mixin placeholder {
    &::-webkit-input-placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
}

@function font-url($path) { @return url("#{$font-path}/#{$path}"); }
@function image-url($path) { @return url("#{$image-path}/#{$path}"); }
@function cl-url($path) { @return url("#{$cl-path}/#{$path}"); }
