/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Change the default font family in all browsers (opinionated).
     * 2. Correct the line height in all browsers.
     * 3. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block; }

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
     * Add the correct display in IE.
     */
main {
  display: block; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
     * Remove the outline on focused links when they are also active or hovered
     * in all browsers (opinionated).
     */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic; }

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block; }

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible; }

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
     * Change the border, margin, and padding in all browsers (opinionated).
     */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto; }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item; }

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block; }

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block; }

/**
     * Add the correct display in IE.
     */
template {
  display: none; }

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none; }

a, a:hover {
  text-decoration: none; }

*:focus {
  outline: none; }

.branding-logo, .hero-divider {
  font-size: 0;
  text-indent: -100%;
  background-repeat: no-repeat;
  background-position: center; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-webkit-keyframes guestAccept {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); }
  70% {
    -webkit-transform: scale3d(1.08, 1.08, 1);
            transform: scale3d(1.08, 1.08, 1); }
  90% {
    -webkit-transform: scale3d(0.97, 0.97, 1);
            transform: scale3d(0.97, 0.97, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }

@keyframes guestAccept {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); }
  70% {
    -webkit-transform: scale3d(1.08, 1.08, 1);
            transform: scale3d(1.08, 1.08, 1); }
  90% {
    -webkit-transform: scale3d(0.97, 0.97, 1);
            transform: scale3d(0.97, 0.97, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }

* {
  box-sizing: border-box; }

body {
  background: #E4E1E6; }
  body.showMenu {
    overflow: hidden;
    width: 100vw;
    height: 100vh; }
    @media (min-width: 960px) {
      body.showMenu {
        overflow: auto;
        width: auto;
        height: auto; } }

.contentWrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px; }

.u-hide {
  display: none !important; }
  @media (max-width: 480px) {
    .u-hideSmall {
      display: none !important; } }
  @media (max-width: 960px) {
    .u-hideMediumDown {
      display: none !important; } }
  @media (min-width: 480px) and (max-width: 960px) {
    .u-hideMedium {
      display: none !important; } }
  @media (min-width: 480px) {
    .u-hideMediumUp {
      display: none !important; } }
  @media (min-width: 960px) {
    .u-hideLarge {
      display: none !important; } }

@font-face {
  font-family: 'NorthLand-Regular';
  src: url("/fonts/NorthLand-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/NorthLand-Regular.otf") format("opentype"), url("/fonts/NorthLand-Regular.woff") format("woff"), url("/fonts/NorthLand-Regular.ttf") format("truetype"), url("/fonts/NorthLand-Regular.svg#NorthLand-Regular") format("svg");
  font-weight: 400;
  font-style: normal; }

html {
  font-size: 70%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }
  @media (min-width: 480px) {
    html {
      font-size: 75%; } }
  @media (min-width: 960px) {
    html {
      font-size: 90%; } }

body {
  font-family: "proxima-nova", "Helvetica", "Arial", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7; }
  @media (min-width: 960px) {
    body {
      font-size: 1.4rem; } }

.u-title {
  font-family: "NorthLand-Regular", "Georgia", serif;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 0; }

.u-leadIn {
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .7em;
  margin: 0; }

.branding-logo {
  width: 23rem;
  height: 6.9rem;
  background-image: url("https://res.cloudinary.com/globobeet/image/upload/jm-wedding/logo.svg");
  background-size: contain;
  margin: 0 auto; }

.branding-tagline {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: .3em; }

.button {
  font-size: 1.8rem;
  padding: .75em 1.25em;
  border: solid 2px;
  border-radius: .4em;
  background: rgba(49, 48, 58, 0);
  display: inline-block;
  text-align: center;
  -webkit-transition: background 0.4s ease-out;
  transition: background 0.4s ease-out; }
  .button:hover {
    background: rgba(49, 48, 58, 0.65); }

.icon {
  display: inline-block;
  vertical-align: middle;
  -webkit-mask-position: center center;
          mask-position: center center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain; }
  .icon--bars {
    -webkit-mask-image: url("https://res.cloudinary.com/globobeet/image/upload/jm-wedding/icons/bars.svg");
            mask-image: url("https://res.cloudinary.com/globobeet/image/upload/jm-wedding/icons/bars.svg"); }
  .icon--size10 {
    width: 10px;
    height: 10px; }
  .icon--size12 {
    width: 12px;
    height: 12px; }
  .icon--size14 {
    width: 14px;
    height: 14px; }
  .icon--size18 {
    width: 18px;
    height: 18px; }
  .icon--size24 {
    width: 24px;
    height: 24px; }
  .icon--size32 {
    width: 32px;
    height: 32px; }
  .icon--size48 {
    width: 48px;
    height: 48px; }
  .icon--colorWhite {
    background-color: #FFFFFF; }

.overlayBlock {
  position: relative; }
  .overlayBlock > * {
    position: relative;
    z-index: 5; }
  .overlayBlock-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
    .overlayBlock-bg--image {
      z-index: 0;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      -webkit-filter: saturate(0.5);
              filter: saturate(0.5); }
    .overlayBlock-bg--overlay {
      z-index: 1;
      opacity: .8;
      background: #31303A; }

.theCouple {
  padding: 0 15px 60px; }
  .theCouple-content {
    margin-top: -10vh;
    padding: 0;
    position: relative;
    z-index: 5;
    background: #FFFFFF;
    box-shadow: 0 4px 48px rgba(49, 48, 58, 0.2); }
  .theCouple-primary {
    padding: 2.5rem; }
  .theCouple-secondary {
    background-size: cover;
    background-position: center;
    background-color: #31303A;
    min-height: 75vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 4rem; }
  .theCouple-title {
    color: #ADA3B3; }
  .theCouple-photos {
    font-size: 1.4rem;
    color: #FFFFFF;
    width: 100%;
    max-width: 440px;
    display: block;
    margin: 0 auto; }
  @media (min-width: 960px) {
    .theCouple-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap; }
    .theCouple-primary, .theCouple-secondary {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 50%;
              flex: 1 0 50%; }
    .theCouple-primary {
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center; } }

.hero {
  color: #ADA3B3;
  text-align: center;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding-top: 8vh;
  height: 90vh; }
  .hero .overlayBlock-bg--overlay {
    background: -webkit-linear-gradient(left bottom, #242147, #AC5858);
    background: linear-gradient(to right top, #242147, #AC5858); }
  .hero-divider {
    width: 9.3rem;
    height: 1.4rem;
    background-image: url("https://res.cloudinary.com/globobeet/image/upload/jm-wedding/dividers/light-lg.svg");
    background-size: contain;
    display: block;
    margin: 6vh auto 8vh; }
  .hero-details-date {
    font-size: 2.4rem;
    font-weight: 900;
    color: #FFFFFF;
    letter-spacing: .2em;
    margin: 0; }
  .hero-details-location {
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: .3em;
    margin: .5em 0 0; }

.theHotel-image {
  display: block;
  width: 100%;
  height: auto; }

.theHotel-secondary .overlayBlock-bg--image {
  -webkit-filter: saturate(1);
          filter: saturate(1); }

.theHotel-secondary-spacer {
  display: block;
  height: 0;
  padding-bottom: 100%; }

.theHotel-primary {
  text-align: center;
  color: #ADA3B3;
  background: #FFFFFF;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.theHotel a {
  color: #31303A; }

.theHotel strong {
  font-weight: 400;
  color: #31303A; }

.theHotel-leadIn, .theHotel-address {
  margin: 0; }

.theHotel-details {
  color: #31303A;
  margin: 40px auto; }

@media (min-width: 480px) {
  .theHotel-primary {
    padding: 3rem; } }

@media (min-width: 960px) {
  .theHotel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap; }
    .theHotel-primary, .theHotel-secondary {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 50%;
              flex: 1 0 50%; } }

.mainNav {
  font-size: 1.5rem;
  font-weight: 100;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  z-index: 10; }
  .mainNav-item {
    color: #FFFFFF; }
  .mainNav-toggle {
    font-family: "proxima-nova", "Helvetica", "Arial", sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #FFFFFF;
    padding: 15px;
    border: none;
    background: transparent;
    position: relative;
    display: block;
    width: 100%;
    max-width: 1024px;
    z-index: 11;
    -webkit-transition: background 0.4s ease-out, max-width 0.4s ease-out;
    transition: background 0.4s ease-out, max-width 0.4s ease-out; }
    .mainNav-toggle .icon {
      margin-right: .5em;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transition: -webkit-transform 0.4s ease-out;
      transition: -webkit-transform 0.4s ease-out;
      transition: transform 0.4s ease-out;
      transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out; }
    .scrolled .mainNav-toggle {
      background: rgba(37, 36, 44, 0.9); }
    .showMenu .mainNav-toggle {
      background: #25242c;
      max-width: 420px; }
      .showMenu .mainNav-toggle .icon {
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg); }
  @media (min-width: 960px) {
    .mainNav {
      padding: 1.25em 0;
      -webkit-transition: background 0.4s ease-out, padding 0.4s ease-out;
      transition: background 0.4s ease-out, padding 0.4s ease-out; }
      .mainNav-links .mainNav-item {
        opacity: 1;
        -webkit-transition: opacity 0.2s ease-out;
        transition: opacity 0.2s ease-out; }
      .mainNav-links:hover .mainNav-item {
        opacity: .4; }
      .mainNav-links:hover .mainNav-item:hover {
        opacity: 1; }
      .mainNav-item {
        display: inline-block;
        margin: 0 .8em; }
      .scrolled .mainNav {
        padding: .5em 0;
        background: rgba(37, 36, 44, 0.9); }
        .scrolled .mainNav:hover {
          background: #25242c; } }
  @media (max-width: 960px) {
    .mainNav-links {
      width: 100%;
      max-width: 420px;
      background: #31303A;
      box-shadow: 0 -2px 4px #000000;
      opacity: 0;
      padding-top: 55px;
      position: fixed;
      top: 0;
      right: auto;
      bottom: 0;
      left: -420px;
      -webkit-transition: left 0.4s ease-out, opacity 0.4s ease-out;
      transition: left 0.4s ease-out, opacity 0.4s ease-out; }
      .showMenu .mainNav-links {
        opacity: 1;
        left: 0; }
    .mainNav-item {
      display: block;
      padding: 1em;
      border-bottom: 1px solid #25242c; } }

.theParty {
  overflow: hidden; }
  .theParty-header {
    text-align: center;
    margin-bottom: 30px; }
  .theParty-leadIn {
    color: #ADA3B3; }
  .theParty-people {
    overflow: hidden; }
    .theParty-people:first-of-type {
      background: #AC5858; }
    .theParty-people:last-of-type {
      background: #242147; }
  .theParty-person {
    text-align: center;
    color: #FFFFFF;
    width: 50%;
    padding-bottom: 50%;
    float: left;
    position: relative;
    overflow: hidden; }
    .theParty-person .overlayBlock-bg--overlay, .theParty-person-info {
      -webkit-transition: opacity 0.8s ease-out;
      transition: opacity 0.8s ease-out; }
    .theParty-person .overlayBlock-bg--image {
      -webkit-transition: -webkit-transform 0.8s ease-out;
      transition: -webkit-transform 0.8s ease-out;
      transition: transform 0.8s ease-out;
      transition: transform 0.8s ease-out, -webkit-transform 0.8s ease-out; }
    .theParty-person-info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column nowrap;
              flex-flow: column nowrap;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 15% 15px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }
    .theParty-person-name {
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1.2;
      margin: 0 0 .25em; }
    .theParty-person-designation {
      font-size: 0.88rem;
      font-weight: 700;
      text-transform: uppercase;
      display: inline-block;
      border-radius: 3px;
      background: #FFFFFF;
      padding: .5em .75em; }
    .theParty-person-bio a {
      font-weight: 700;
      color: #FFFFFF; }
    .theParty-person--bride .overlayBlock-bg--overlay {
      background: #AC5858; }
    .theParty-person--bride .theParty-person-designation {
      color: #AC5858; }
    .theParty-person--groom .overlayBlock-bg--overlay {
      background: #242147; }
    .theParty-person--groom .theParty-person-designation {
      color: #242147; }
    .theParty-person:hover .overlayBlock-bg--overlay,
    .theParty-person:hover .theParty-person-info {
      opacity: 0; }
    .theParty-person:hover .overlayBlock-bg--image {
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }
  @media (min-width: 960px) {
    .theParty-people {
      width: 50%;
      float: left; } }

.theVenue {
  text-align: center;
  color: #E4E1E6;
  padding: 60px 0;
  background: #31303A;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .theVenue .overlayBlock-bg--image {
    -webkit-filter: saturate(0);
            filter: saturate(0);
    background-size: auto;
    background-position: center top; }
  .theVenue .overlayBlock-bg--overlay {
    opacity: 1;
    background: -webkit-linear-gradient(top, rgba(49, 48, 58, 0.8), #31303A 350px);
    background: linear-gradient(to bottom, rgba(49, 48, 58, 0.8), #31303A 350px); }
  .theVenue a {
    color: #AC5858;
    -webkit-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out; }
    .theVenue a:hover {
      color: #ADA3B3; }
  .theVenue-leadIn {
    color: #AC5858; }
  .theVenue-title {
    color: #FFFFFF; }
  .theVenue-image {
    display: block;
    margin: 3em auto;
    max-width: 100%; }
  .theVenue-address, .theVenue-directions {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .4em;
    color: #FFFFFF;
    line-height: 2.55;
    margin-top: 2em; }

.rsvp {
  min-height: 100vh;
  background-repeat: repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 24px 20px; }
  .rsvp-panel {
    text-align: center;
    position: relative;
    margin: 0 auto;
    border: 18px solid #fbfbf3;
    opacity: 1;
    -webkit-transition: opacity 0.4s ease-out;
    transition: opacity 0.4s ease-out;
    width: 100%;
    max-width: 600px; }
    .rsvp-panel--code {
      max-width: 400px; }
    .rsvp-panel.is-loading {
      pointer-events: none;
      opacity: .4; }
    .rsvp-panel-wrap {
      background: #fbfbf3;
      border: 4px solid #ececd5;
      padding: 24px; }
      .rsvp-panel-wrap > * {
        -webkit-animation-name: fadeIn;
                animation-name: fadeIn;
        -webkit-animation-duration: 0.4s;
                animation-duration: 0.4s;
        -webkit-animation-iteration-count: 1;
                animation-iteration-count: 1; }
    .rsvp-panel-title {
      color: #aca3b3;
      letter-spacing: .2em; }
    .rsvp-panel-error {
      font-size: 1.1rem;
      font-weight: 600;
      color: #AC5858;
      margin: 12px 0 0 0; }
  .rsvp-codeForm-input {
    font-family: "proxima-nova", "Helvetica", "Arial", sans-serif;
    font-size: 2.4rem;
    font-weight: 900;
    line-height: 1.5em;
    text-align: center;
    text-transform: uppercase;
    color: #3f4b70;
    background: none;
    display: inline-block;
    width: 8em;
    padding: .1em .25em;
    border: none;
    border-bottom: 2px solid rgba(172, 163, 179, 0.2); }
  .rsvp-rsvpForm-instructions {
    font-size: 1.4rem;
    font-weight: 600;
    color: #3f4b70;
    margin: 0; }
  .rsvp-rsvpForm-guests {
    margin: 24px 0; }
  .rsvp-rsvpForm-guest {
    font-family: "NorthLand-Regular", "Georgia", serif;
    font-size: 3.6rem;
    background: none;
    border: none;
    display: inline-block;
    width: 100%;
    color: #AC5858;
    opacity: .2;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    cursor: pointer;
    padding: 0; }
    .rsvp-rsvpForm-guest.is-attending {
      opacity: 1;
      color: #3f4b70;
      -webkit-animation-name: guestAccept;
              animation-name: guestAccept;
      -webkit-animation-duration: 0.2s;
              animation-duration: 0.2s;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
    @media (min-width: 960px) {
      .rsvp-rsvpForm-guest {
        width: 50%; } }
  .rsvp-rsvpForm-plusOne {
    font-family: "NorthLand-Regular", "Georgia", serif;
    font-size: 3.6rem;
    text-align: center;
    color: #3f4b70;
    background: none;
    display: block;
    padding: 0 0 .1em 0;
    border: none;
    border-bottom: 2px solid rgba(172, 163, 179, 0.2);
    margin: 0 auto 24px; }
    .rsvp-rsvpForm-plusOne::-webkit-input-placeholder {
      color: rgba(172, 88, 88, 0.2); }
    .rsvp-rsvpForm-plusOne:-moz-placeholder {
      color: rgba(172, 88, 88, 0.2); }
    .rsvp-rsvpForm-plusOne::-moz-placeholder {
      color: rgba(172, 88, 88, 0.2); }
    .rsvp-rsvpForm-plusOne:-ms-input-placeholder {
      color: rgba(172, 88, 88, 0.2); }
  .rsvp-rsvpForm-submit {
    font-family: "proxima-nova", "Helvetica", "Arial", sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #3f4b70;
    display: inline-block;
    padding: .5em 2em;
    cursor: pointer; }
    .rsvp-rsvpForm-submit:hover {
      color: #fbfbf3;
      border-color: #3f4b70;
      background: #3f4b70; }
  .rsvp-thanks-message {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.4;
    color: #3f4b70;
    margin: 12px 0 24px; }
  .rsvp-thanks-button {
    font-family: "proxima-nova", "Helvetica", "Arial", sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #3f4b70;
    display: inline-block;
    padding: .5em 2em;
    cursor: pointer; }
    .rsvp-thanks-button:hover {
      color: #fbfbf3;
      border-color: #3f4b70;
      background: #3f4b70; }

/*# sourceMappingURL=site.css.map*/