.hero {
    color: $gray;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    position: relative;
    padding-top: 8vh;
    height: 90vh;

    .overlayBlock-bg--overlay {
        background: linear-gradient(to right top, $secondary, $primary);
    }

    &-divider {
        @include imgReplace("dividers/light-lg.svg", 9.3rem 1.4rem);
        display: block;
        margin: 6vh auto 8vh;
    }

    &-details {
        &-date {
            font-size: $size-xlarge;
            font-weight: $weight-extrabold;
            color: $white;
            letter-spacing: .2em;
            margin: 0;
        }

        &-location {
            font-size: $size-xsmall;
            font-weight: $weight-bold;
            letter-spacing: .3em;
            margin: .5em 0 0;
        }
    }
}
