.hero {
    color: $gray;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    position: relative;
    padding-top: 8vh;
    height: 90vh;

    > * { z-index: 5; }

    &-bg {
        @include position(absolute, 0 0 0 0);

        &--image {
            z-index: 0;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            filter: saturate(.5);
        }

        &--overlay {
            z-index: 1;
            opacity: .8;
            background: linear-gradient(to right top, $secondary, $primary);
        }
    }

    &-divider {
        @include imgReplace("v1490919563/jm-wedding/dividers/light-lg.svg", 9.3rem 1.4rem);
        display: block;
        margin: 6vh auto 8vh;
    }

    &-details {
        &-date {
            font-size: $size-xlarge;
            font-weight: $weight-extrabold;
            color: $white;
            letter-spacing: .2em;
            margin: 0;
        }

        &-location {
            font-size: $size-xsmall;
            font-weight: $weight-bold;
            letter-spacing: .3em;
            margin: .5em 0 0;
        }
    }
}
